@charset "utf-8";
/* CSS Document */

.imgSet_01{ font-size:30px; background:#CCC; text-align:center; line-height:450px; font-family:arial "Arial Black", Gadget, sans-serif; text-transform:uppercase;}

.generalListing { list-style:inside none; display:block}
.generalListing li{ background:#777; margin-bottom:2px; display:block; padding:3px 0 3px 5px}
.generalListing li a{ color:#CCC;}
.generalListing_02{ padding-left:20px;}