@charset "utf-8";
/* CSS Document */

@font-face {
	font-family:Comfortaa;
	src: url('font/Comfortaa-Light.ttf');
}

body{ font-size:12px;margin:0 ; padding:0; font-family:Verdana}

.cb{ clear:both}

#header-wrapper{height:131px; font-size:11px; color:#616161; background:url(../img/hdr-bg.gif) repeat-x; border-top:12px solid #242424; border-bottom:12px solid #242424;}
#header{ width:967px; margin:0 auto}

#header .c1{ float:left; width:340px;height:131px;}
.logo{margin:35px 0 0 0}
.main-nav{ color:#363636;}
.main-nav .link{float:left;}
.main-nav .link a{ margin:0 15px; text-decoration:none;}
.main-nav .link a:hover{ color:#CCC}
.link-color-1{ color:#616161}
.link-color-2{ color:#a9a9a9}

.form .search{ background:url(../img/search.gif) no-repeat; border:0px; color:#5d5d5d; padding:12px 0 12px 12px; width:290px }

.subscribe{ margin:9px 0 13px 0}
.subscribe img{ float:left}
.subscribe a{ text-decoration:none}
.subscribe a:hover{ color:#CCC}
.subscribe p{ float:left; margin:1px 0 0 17px}
#header .c2{ float:left; width:270px; padding-top:12px;}
#header .c3{ float:left; width:305px; background:url(../img/hdr-bg-2.gif) repeat-x; height:88px;}

.bg-fix-1{ background:url(../img/fix-1.gif) no-repeat; width:20px ; height:88px; float:left}
.bg-fix-2{ background:url(../img/fix-2.gif) no-repeat; width:20px ; height:88px; float:left}



#subNav-wrapper{ background:url(../img/sub-nav-bg.gif) repeat-x; height:42px;border-top:1px solid #474747; border-bottom:1px solid #16161;}
#subNav{font-family:Arial; padding:0 0 0 0; width:967px; margin:0 auto}
#subNav p{ margin:12px 0 0  0px; display:block}
#subNav .spc{ padding-left:28px}
#subNav a{ color:#9c9c9c; text-decoration:none; font-size:14px; font-weight:bold;}
#subNav a:hover{ color:#CCC}


#mainContent-wrapper{overflow:hidden;background:#333333;}

#mainContent{ color:#545252; width:967px; margin:0 auto; padding:20px 0}

.category{ background:#292929;padding:10px; float:left; margin:0 20px 20px 0; width:200px}

.category .title{background:#161616; font-size:14px; padding:12px}
.category .title p{ float:left; display:block;}
.category .title .caption{ width:135px}
.category .title .comments-icon{ width:23px; margin:1px 0 0 0}
.category .reviews p{ float:left; display:block}

.category .thumbnail{ background:#1f1f1f; text-align:center; padding:28px 0 0 0; height:145px}

.category .reviews{ padding:12px 0 2px 0}
.category .reviews p{float:left; display:block; font-size:11px}
.category a{text-decoration:none;color:#545252}
.category a:hover{ color:#999}
.category .reviews img{float:left; display:block; padding-left:4px}
.comment{ padding-left:10px; width:105px; text-align:right}


#mainContent .r2{ background:#292929; width:940px}
#mainContent .r2-c1{float:left; margin-top:15px;}
#mainContent .r2-c2{float:right;text-align:right;; margin-top:8px}
#mainContent .r2-c2 .pg-no{ float:left; margin-left:5px;}
#mainContent .r2-c2 .pg-no a{ background:#1c1c1c; display:block; width:30px; padding:8px 0; text-align:center; text-decoration:none; color:#393939}
#mainContent .r2-c2 .pg-no a:hover{color:#CCC; background:#0b0b0b}
.rounded-left{ float:left; background:url(../img/rounded-left.gif) no-repeat; width:11px; height:47px}
.rounded-right{ float:right; background:url(../img/rounded-right.gif) no-repeat; width:11px; height:47px}



#footer-wrapper{font-size:12px}
#footer .title{font-family:Comfortaa; font-size:28px; color:#FFF; margin:30px 0}
#footer .r1-c1{ float:left; width:187px;}
#footer .r1-c2{float:left; width:264px; color:#a2a2a2}
#footer .r1-c3{ float:left; width:258px;}
#footer .r1-c3 img{margin:0 9px 9px 0; border:0px}
#footer .r1-c3 .social-media-icons{ width:205px}
#footer .r1-c4{float:left;width:231px;}
#footer .r1-c4 p{ background:#1e1e1e; color:#4a4a4a; padding:5px 20px; line-height:18px}
.highlight{ color:#b9b9b9}
#footer .list a{ text-decoration:none; color:#4a4a4a}
#footer .list a:hover{color:#CCC}
#footer .list p{ display:block; padding-bottom:10px}
#triangle{ background:url(../img/triangle.gif) no-repeat; height:17px; margin-left:203px}
#footer-r1-wrapper{ background:#121212;padding-bottom:30px; border-bottom:#000 solid 2px}
#footer-r2-wrapper{ text-align:center; background:#000; color:#4a4a4a; border-top:#121212 solid 2px; padding:17px 0}
#footer .r1{ width:967px; margin:0 auto}
#footer .r2{}
#footer .r2 span{ color:#757575}

.twitter-up-rounded-top{background:url(../img/rounded-top.gif) no-repeat ; width:231px; height:14px}
.twitter-up-rounded-bottom{background:url(../img/rounded-bottom.gif) no-repeat; width:231px; height:14px}
