@charset utf-8;
/* CSS Document */

.logo{ line-height:13px}
#set-3 .r6 .c2{ letter-spacing:1px; font-weight:100}
#set-4 .c2-r1{ margin:2px 0 0 55px}
#set-4 .c2-r2{ margin:5px 0 0 45px;}
#set-4 .c2-r3{ margin:6px 0 0 5px;}
#set-4 .c2-r3{ margin:3px 0 0 5px;}
#set-2 .design-branding{ line-height:22px}


