@charset utf-8;
/* CSS Document */

body{ margin:0px; padding:0px; font-family:Centaur; font-size:16px; background:#333; color:#CCC}

#container-wrapper{ width:100%; text-align:center; padding:86px 0 0 0}
#container{width:413px; margin:0 auto; text-align:left}

.cb{clear:both}

#set-1 .r1{margin:0 0 0 49px;}

#set-1 .r1 .logo,.cg-artist,.web-banner{display:block; float:left;}
#set-1 .r1 .logo{font-family:Century Gothic; margin:17px 0 0 0; font-size:12px; font-weight:bold}
#set-1 .r1 .cg-artist{font-family:Showcard Gothic; font-size:32px; margin:0 0 0 8px}
#set-1 .r1 .web-banner{font-family:Kabel; font-size:12px; margin:10px 0 0 6px}
#set-1 .r2{margin:3px 0 0 32px; font-size:14px; }
#set-1 .r3{margin:3px 0 0 17px; font-size:14px;}

#set-2 .c1,.c2{float:left; display:inline}

#set-2 .c1{ margin:0 0 0 0;font-family:French Script MT; font-size:45px; line-height:52px}
#set-2 .c2{ margin:0 0 0 85px}

#set-2 .freelancer{font-family:Showcard Gothic; letter-spacing:1px; margin:5px 0 0 0}
#set-2 .prod-vis{ font-size:17px; margin:5px 0 0 7px}
#set-2 .design-branding{ font-size:15px; margin:-3px 0 0 8px;}

#set-3 p{ line-height:18px; margin:0 0 0 8px; display:block;}
#set-3 .r1{ margin:0 0 0 0px}
#set-3 .r2{ margin:0 0 0 7px}
#set-3 .r3{ margin:0 0 0 30px}
#set-3 .r4{ margin:0 0 0 63px}
#set-3 .r5{ margin:0 0 0 117px}
#set-3 .r6{ margin:0 0 0 190px}
#set-3 .r6 .c1,.c2{ float:left}
#set-3 .r6 .c2{ font-family:Candara; font-size:11px; font-weight:800;; letter-spacing:1px; margin:0 0 0 5px}

#set-4 .c1{float:left;}
#set-4 .c2{float:left; margin:0 0 0 0px;}
#set-4 .c2-r1, .c2-r2{ font-family:Old English Text MT; font-size:48px;line-height:34px}
#set-4 .c1-r1{ letter-spacing:2px}
#set-4 .c1-r2{ font-family:Gill Sans MT; font-size:32px; line-height:32px; margin:0 0 0 3px}
#set-4 .c1-r3{font-family:Gill Sans MT; font-size:32px; line-height:37px; margin:0 0 0 8px; letter-spacing:1px}
#set-4 .c2-r1{ margin:2px 0 0 55px}
#set-4 .c2-r2{ margin:5px 0 0 50px;}
#set-4 .c2-r3{ margin:4px 0 0 5px;}

#set-5 .r1{ margin:5px 0 0 20px; font-size:17px; letter-spacing:1px;}
#set-5 .r2{ margin: 0 0 0 55px; letter-spacing:1px; padding:4px 0 0 0}
#set-5 .r3{ margin: 0 0 0 130px; letter-spacing:2px; padding:4px 0 0 0}