@charset "utf-8";
/* CSS Document */

.bg-1{} /* color-name */ /* purpose */  
.bg-2{} /* color-name */ /* purpose */  
.bg-3{} /* color-name */ /* purpose */  
.bg-4{} /* color-name */ /* purpose */  
.bg-5{} /* color-name */ /* purpose */

.bgNav-1{} /* color-name */ /* purpose */  
.bgNav-2{} /* color-name */ /* purpose */  
.bgNav-3{} /* color-name */ /* purpose */  
.bgNav-4{} /* color-name */ /* purpose */  
.bgNav-5{} /* color-name */ /* purpose */

.round-1{ border-radius:5px 5px 5px 5px;-moz-border-radius: 5px 5px5px 5px;
 -webkit-border-radius: 5px 5px 5px 5px;}
 
.round-2{ border-radius:5px 5px 5px 5px;-moz-border-radius: 5px 5px5px 5px;
 -webkit-border-radius: 5px 5px 5px 5px;}
 
.round-3{ border-radius:5px 5px 5px 5px;-moz-border-radius: 5px 5px5px 5px;
 -webkit-border-radius: 5px 5px 5px 5px;}



  