@charset "utf-8";
/* CSS Document */


/* main css */
body{font-family:Verdana, Geneva, sans-serif; text-align:center;margin:0; padding:0; text-align:center; font-size:12px; color:#333}

.main{width:1000px; margin:0 auto; padding:0; text-align:left}

/* end main css */



/* header css */
.header{ background:#bebebe; height:120px;}
.header .logo{float:left; width:500px; padding:0 0 106px 0;text-align:right;color:#666; padding:50px 0 0 0}
.header .user-access-header{float:right; margin:35px 10px 0 0; width:400px;}
.header .info1{float:right; margin:6px 5px 0 0;}
.header .info2{float:right; margin:0 5px 0 0;}
.header .button1{ display:block; float:right; padding:3px 0 3px 0; background:#666; color:#CCC; width:100px; font-size:10px; text-align:center; text-decoration:none; border-radius:10px; -moz-border-radius:10px}
.header .button1:hover{ background:#999; color:#D8D8D8}
.header .button2{ display:block; float:right; padding:3px 0 3px 0; background:#666; color:#CCC; width:100px; font-size:10px; text-align:center; text-decoration:none; border-radius:10px; -moz-border-radius:10px}
.header .button2:hover{ background:#999; color:#D8D8D8}

/* end header css */



/* navigation css */
.navigation-1{margin:5px 0 0 0}
.menu-set-1 {padding:15px 0 15px 0; height:25px; background:#dadada}
.menu-set-1 .holder{margin:0 0 0 2px;}
.menu-set-1 .menu{width:120px; float:left; margin:0 0px 0 4px; background:#404040; color:#CCC; text-align:center; padding:5px 0 5px 0; text-decoration:none}
.menu-set-1 .menu:hover{background:#666; font-weight:bold}
.menu-set-1 .menu a{color:#CCC; text-decoration:none;}
.menu-set-1 .menu a:hover{font-weight:bold}

.breadcrumbs{margin:3px 0 0 0; padding:5px 0 5px 20px; font-weight:bold; font-size:10px; background:#f2f2f2}
.bc-link{text-decoration:none; color:#333}
/* end navigation css */


/* content css */
.content .holder{padding:20px 3px 20px 3px;}

.content .left{float:left; width:257px;}

.user-info-content-left-sec-1 .welcome{font-size:20px; padding:0 0 0 5px}
.user-info-content-left-sec-1 .inbox-notification{ font-size:10px; padding:5px 0 0 9px}
.user-info-content-left-sec-1 .inbox-notification .highlight{ text-decoration:underline;}


.prepaid-broadband{margin:10px 0 0 0; cursor:pointer}
.prepaid-broadband .title{ background:#bebebe; color:#FFF; padding:5px; font-weight:bold}
.prepaid-broadband .content{display:none; background:#f2f2f2; padding:10px 0 10px 0; border:1px solid #E4E4E4}

.xxxx-mobile{ background:#CCC; margin:5px 0 0 0; cursor:pointer}
.xxxx-mobile .title{ background:#bebebe; color:#FFF; padding:5px; font-weight:bold}
.xxxx-mobile .content{ background:#f2f2f2; padding:0 0 20px 0; border:1px solid #E4E4E4}
.xxxx-mobile .rate-plan{font-size:10px; padding:10px 0 0 5px}
.xxxx-mobile .credit-data{ margin:15px 0 0 5px}
.xxxx-mobile .credit-data .row{margin:2px 0 0 0}
.xxxx-mobile .credit-data .label{float:left; width:100px; background:#aaaaaa; color:#FFF; padding:10px 0px 10px 10px}
.xxxx-mobile .credit-data .label-cr{float:left; width:100px; background:#878787; color:#FFF; padding:10px 0px 10px 10px}
.xxxx-mobile .credit-data .info{float:left; margin:10px 0 0 10px;}
.xxxx-mobile .credit-and-accounts{margin:30px 0 0 0;}
.xxxx-mobile .credit-and-accounts .tabs{ background:#c0c0c0; text-align:center; padding:5px 0 5px 0; margin:5px  10px 0 5px; border-radius:5px;-moz-border-radius:5px; width:215px; display:block;text-decoration:none; font-weight:bold; color:#444}

.xxxx-mobile .credit-and-accounts .tabs:hover{ background:#CCC; color:#666}

.your-rewards{margin:5px 0 0 0; background:#f2f2f2; padding:0 0 40px 0; border:1px solid #E4E4E4}
.your-rewards .yr-title{margin:0 5px 0 5px;border-bottom:solid 1px #ccc; padding:5px 0 3px 0 }
.your-rewards .timeframe{ margin:20px 0 0 0}
.your-rewards .offer-title{padding:0 0 0 5px}
.your-rewards .tf-content{margin:20px 0 0 45px}
.your-rewards .offer-order-no{ float:left; background:#FFF; padding:12px 15px 12px 15px; border-radius:100px}
.your-rewards .offer-description{ float:left; font-size:10px; width:200px; margin:5px 0 0 5px;}

.your-rewards .tf-content .tabs{ background:#aaaaaa; display:block; width:110px; padding:10px 0 10px 10px; text-decoration:none; color:#fff; font-weight:bold}
.your-rewards .tf-content .tabs:hover{ background:#878787}

.your-rewards .offers{margin:20px 0 0 0}
.your-rewards .offer-content{ background:#bebebe; margin:10px 0 0 40px; padding:15px 10px 15px 10px; width:175px}
.your-rewards .offer-content .offer-heading{ font-size:15px;}
.your-rewards .offer-content .offer-brief{font-size:11px; padding:15px 0 15px 0}
.your-rewards .offer-content .offer-more-info a{ color:#111; font-size:11px}
.your-rewards .offer-content .view-hs-button{display:block; background:#f2f2f2; width:100px; float:right; padding:3px 10px 3px 10px; text-align:center; border-radius:20px;-moz-border-radius:20px; font-size:10px; border:#999 solid 1px; text-decoration:none; color:#000}
.your-rewards .offer-content .view-hs-button:hover{background:#CCC;}





.content .right{float:left; margin:0 0 0 27px; width:710px}
.navigation-2 .menu-set-2 .holder-2{margin:0 0 15px 5px}
.hr-line-1{height:3px; background:#f2f2f2; margin:0 3px 0 8px}
.navigation-2 .menu-set-2 .menu{float:left; width:135px; margin:0 3px 0 3px; font-size:11px; text-align:center; padding:10px 0 10px 0; background:#404040; border-radius:5px; -moz-border-radius:5px; text-decoration:none; color:#CCC}
.navigation-2 .menu-set-2 .menu:hover{ font-weight:bold; background:#666}
.navigation-2 .menu-set-2 .menu a{text-decoration:none; color:#CCC}
.ppt{width:699px; height:280px;}
#slidedeck_frame {width:645px;height: 220px; margin:13px 0 0 10px} 
.rc-holder{margin:0 0 0 0; width:699px; margin:15px 5px 0 8px}
.content .right .r-left{float:left; width:445px}
.content .right .r-right{float:right; width:250px}

.paid-content{ background:#fff}
.pc-header{}
.pc-title{ float:left; margin:2px 0 0 0}
.pc-button{ float:right; background:#f1f1f1; padding:3px 10px 3px 10px; border-radius:10px; -moz-border-radius:10px; color:#999; font-size:11px; border:1px solid #CCC; text-decoration:none}
.pc-button:hover{ background:#E6E6E6}
.hr-line-2{height:3px; background:#f2f2f2; margin:5px 0 0 0}
.pc-block{font-size:10px; margin:10px 0 0 17px; float:left}
.pc-img{width:125px; height:125px; background:#818181; color:#CCC}
.pc-name{ color:#666; margin:5px 0 0 0}

.earn-some-credit{ margin:40px 0 0 0}
.esc-title{font-size:16px}
.esc-brief{font-size:10px; margin:20px 0 0 0; color:#666; margin:10px 10px 0 10px}

.esc-caption-1{ margin:10px 0 0 10px}

.esc-upload-box{ background:#a5a5a5; width:210px;  color:#FFF; margin:10px 0 0 5px; padding:10px 0px 10px 5px; float:left}
.eub-caption{text-align:center; font-size:12px; font-weight:bold}
.eub-button{text-align:center; font-size:11px; display:block; width:100px; margin:10px 0 10px 25%; background:#f2f2f2; color:#a5a5a5; font-weight:bold; padding:5px 0 5px 0; border-radius:10px;-moz-border-radius:10px; text-decoration:none}
.eub-button:hover{background:#DDD}
.eub-tip{font-size:10px; text-indent:5px}

.pc-content{margin:0 0 0 1px}

.idTabs{ margin:11px 0 0 0; padding:0}
.idTabs li{display:inline;}
.idTabs a{background:#CCC; padding:11px 21px 11px 22px; text-decoration:none; color:#333;}
.idTabs a.selected{background:#FFF; padding:10px 15px 10px 22px; border-style:solid; border-width:1px; border-color:#E4E4E4 #E4E4E4 #fff #E4E4E4; font-weight:bold; color:#666; }
#fb-sync{ background:#fff;margin:11px 0 0 0;; border-style:solid; border-width:1px; border-color:#fff #E4E4E4 #E4E4E4 #E4E4E4}
#manage-my-contact{background:#fff;margin:11px 0 0 0; font-size:11px; border-style:solid; border-width:1px; border-color:#fff #E4E4E4 #E4E4E4 #E4E4E4}
.mmc-holder{padding:10px 5px 5px 5px}
.contact-tab{display:inline}

.mmc-sim{ background:#eee; display:block; width:120px; text-align:center; padding:3px 0 3px 0; border-radius:10px;-moz-border-radius:10px; color:#666; border:1px solid #CCC; text-decoration:none}
.mmc-sim:hover{ background:#dadada}
.mmc-add{ background:#eee; display:block; width:90px; text-align:center; padding:3px 0 3px 0; border-radius:10px;-moz-border-radius:10px; color:#333; margin:0 0 0 145px; color:#666; border:1px solid #CCC; text-decoration:none}
.mmc-add:hover{ background:#dadada}
.mmc-delete{ background:#dadada; display:block; width:70px; text-align:center; padding:3px 0 3px 0; border-radius:10px;-moz-border-radius:10px; color:#333; margin:3px 0 0 0; border:#ccc solid 1px; margin:5px 0 0 5px; text-decoration:none}
.mmc-delete:hover{background:#eee}
.mmc-brief{padding:10px 0 10px 0}
.mmc-sort{padding:10px 3px 10px 3px; font-size:10px; background:#dadada; margin:10px  0 0 0}
.mmc-b1-left{ float:left; margin:0 0 0 5px}
.mmc-b1-right{ float:right; margin:7px 0 0 0; background:#818181; color:#CCC; margin:0px 5px 0 0; padding:5px 5px 5px 3px; border-radius:5px; -moz-border-radius:5px; font-size:10px }
.mmc-block-1{padding:10px 0 10px 0; margin:8px 0 0 0; background:#f2f2f2}
.mmc-b1-r-link{padding:2px 0 2px 0; color:#BBB; text-decoration:none}
.mmc-block-2{padding:10px 0 10px 0; margin:8px 0 0 0; background:#dadada}
.mmc-c-name{color:#333;}
.mmc-c-contact{ color:#666}
.mmc-c-work{ color:#666}
.mmc-c-email{color:#333;}

/* end content css */



.latest-wallpapers{margin:25px 0 0 0}
.latest-screensavers{margin:25px 0 0 0}

/* footer css */
.footer{ background:#dadada; text-align:center; padding:20px 0 10px  0}
/* end footer css */