@charset "utf-8";
/* CSS Document */

body{ /*background:url(images/blueprint-grid-48-16-18.png) repeat-y  center*/; font-size:13px;}

/* tools */
a{ text-decoration:none;}

.header{ background:url(images/bg-black-v1.png); padding: 20px 0; position:relative; z-index:2;}

.mainNav nav{overflow:hidden; text-transform:uppercase; float: right; min-width:640px}
.mainNav{ position:relative; z-index:2; margin: 12px 0 0 0;}
.mainNav ul{ overflow:hidden; margin: 0 0 0 0; padding: 0 0 20px 0; list-style:none; display:block;}
.mainNav ul li{ float:left; display:block; padding: 0 0 0 30px;}
.mainNav ul li a{font-size:1.231em; text-decoration:none; color:#fff;}
.mainNav ul li a:hover{color: #fc0;}

.mainNav ul li ul{ font-size:11px; display:none; position:absolute; width:200px; padding: 42px 0; margin:0;}
.mainNav ul li ul li.first{ border-top: 2px solid #fc0;}

.mainNav ul li:hover ul{ display:block;}

.mainNav ul li ul li{ float:none; padding:0; margin:0 0 1px 0}
.mainNav ul li ul li a{ display:block; padding:10px; text-transform:none;background:url(images/bg-black-v1.png);}

.banner img{ max-width:100%; width:100%; min-width:976px;}


.serviceBlock{ margin:15px 0 0 0;}
.serviceBlock .innerBlock{border: 1px solid #888;


text-align: center; margin:10px 0 10px 0;}


.serviceBlock .innerBlock .icon{ padding: 15px 0 1px 0;}
.serviceBlock .innerBlock .icon a{display:block}
.serviceBlock .innerBlock h4{display: block;
font-size: 1.12em;
color: #000;
text-transform: uppercase;
padding: 0 0 0 0; font-weight:normal;}
.serviceBlock .innerBlock h4 a{display:block;color: #000;}
.serviceBlock .innerBlock .readMore{ display:block;
 font-size: 0.9em;color: #fff;

 padding: 6px 0;
 margin:0 auto; width: 108px; text-transform: lowercase;}

.serviceBlock .innerBlock .readMore:hover {
  opacity: 0.80;
  -moz-opacity: 0.80;
  filter:alpha(opacity=80);
}

h1{font-size: 1.615em;
font-weight: bold;

margin: 20px 0;text-transform: uppercase;}

.sideNav{ padding:0; list-style:none; margin: 0;}
.sideNav li{margin: 0px 0 0 0;
font-size: 1.15em;
border-top: 1px solid #666;
border-bottom: 1px solid #333;
display: block;}
.sideNav li a{display: block;
color: #aaa;
padding: 0.4375em 14px;
background: #4c4c4c;}
.sideNav li a:hover{color:#fff;background:#666}
.footer{ padding:20px 0; margin: 5px 0 0 0;}
.footer h3.caption{font-size: 1.538em;font-weight: normal;color: #fff;border-bottom: 1px solid #888;padding-bottom: 10px;margin-bottom: 15px;}

.footer .innerBlock ul{ list-style:none; margin:0; padding:0;}
.footer .innerBlock ul li{ line-height:20px}  
.footer .innerBlock ul li a{ text-decoration:none; color: #aaa;}
.footer .innerBlock ul li a:hover{ color:#eee;}

.copyright{ border-top: 2px solid #888; padding: 12px 0 0 0; margin-top:20px;}


.socialIcons ul{float:right}
.socialIcons ul li{ float:left; display:block; margin:0 0px 0 5px}
.socialIcons ul li a{ display:block; width:32px; height:32px;}

.pinterest{ background:url(images/pinterest-icon.png) no-repeat}
.facebook{ background:url(images/facebook-icon.png) no-repeat}
.twitter{ background:url(images/twitter-icon.png) no-repeat}

.allRights a, .allRights{ color:#FFF; text-decoration:none; line-height:32px;}
.allRights a:hover{text-decoration:underline}

.socialIcons ul{ margin:0;}
#topcontrol{ bottom: 10px !important;}

.lastNav{ margin:0 0 0 -72px !important}