@charset "utf-8";
/* CSS Document */

/*div{background:#f00;color:#fff;}
.clear{ background:#fc0; height:2px;}

.header, .banner, .mainContent,.footer{ background:transparent}
.alpha,.omega{background:#333}
.alpha div,.omega div{margin:1px}*/

body{ background:url(../img/main-bg.gif)}

.panel{ background:#FFF; border-radius:3px; box-shadow: 2px 2px 5px #ccc; margin: 0 0 20px 0; padding:10px 0}
.footer{ text-align:center}
.logo {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 20px;
    letter-spacing: 5px;
}
.menu{ overflow:hidden;}
.menu ul{ display:block; list-style:none; overflow:hidden; float:right; margin: 17px 20px 0 0;}
.menu ul li{ float:left;}
.menu ul a{ color:#333}
.content .aside .caption{ text-align:center;}
.content .aside div{
    margin: 9px 4px 0 14px;
}
.content .article .title h2{ text-align:left; padding:0; font-size: 21px; margin: 21px 0 4px 0; line-height: 10px;}
.content .article div{ margin-right:15px;}
.content .article .desc{
    padding: 10px 0;
    text-align: justify;
}
.content .article .viewmore{  text-align:right;}
.content .article .viewmore a{ color:#333}

.generalListing { list-style:inside none; display:block; margin: 0 auto; width: 90%;}
.generalListing li{ background: #666; margin-bottom:2px; display:block; padding: 6px 0 6px 10px; margin-left: 0;}
.generalListing li a{ color:#CCC;}
.generalListing_02{ padding-left:20px;}

.sidebar{ margin-left:5px;}