@charset "utf-8";
/* CSS Document */

@media (min-width:981px){
	.dropdown:hover ul{display:block}
	}

@media (min-width:480px) and (max-width:767px){
	.productDisplay .blockWrap,.footerLinks .blockWrap{ width: 46%; float:left; margin: 15px 0.5% 10px 2.5% !important;}
	.largeAd a,.smallAd a{ margin: 3px 2.5% !important; display:block}
	.logo{ float:left !important; width:auto !important}
	.header_extrasHolder{ float:right !important; width:auto !important}
	.topbar{ max-width:560px; margin:0 auto;}
	
	}
		 
	
	@media (min-width:180px) and (max-width:479px){
	    
	    .logo{text-align:center}
	    .countryCurrency form{float:none;overflow:hidden;max-width:220px;margin: 10px auto;margin-top:0}
	    .header_subNavHolder .blockWrap{float:none;max-width:260px;margin:0 auto}
	  .row-fluid{margin: 0 2.5%;width: 95%;}
	  .productDisplay .blockWrap{margin:0 0 30px 0}
	}
	
	@media (min-width:180px) and (max-width:767px){
	    .priceBuy{margin:0}
	    .navbar,header{margin:0 2.5%;}
		.banner{ margin: 17px 2.5% 0 2.5%;}
	    .search form{ text-align:center;}
	.search input{ width:100%; background: #444; border: 1px solid #555; margin: 15px 0 20px 0; color: #777; font-size: 14px; text-transform: lowercase;}
	
 .userPanel{text-align:center;margin:15px 0 0 0}
	    .userPanel li{display:inline !important;float:none !important}
	    .userPanel li a{display:inline !important;padding: 0 10px !important;line-height:30px !important}
		.userPanel .first{ border:none !important;}
	    
	.newsletter .txt{max-width:289px;float:left;margin:0 0 5px 0}
	.newsletter .btn{float:left;max-width:60px}
	.communicateTransact{overflow:hidden}
	.communicateTransact .blockWrap{border:none;}
	.communicateTransact .blockWrap .holder{margin: -1px 2.5% 0 2.5%;border-top:1px solid #ccc;}
	.newsletter{min-height:88px !important}
	.paymentOptions{min-height:100px !important}
	.socialMedia{min-height:72px !important}
	.copyright{text-align:center}
	}
	