@charset "utf-8";
/* CSS Document */

/*div,section,header,footer{border:1px solid #000;margin:1px  0;padding:1px}*/

.topbar{ background:#333;margin:0;padding:0}
.userPanel ul{ display:block; overflow:hidden; margin: 0; padding:0;font-size:13px}
.userPanel ul li{ display:block; float:left; list-style:none;border-left:1px solid #555; margin: 0 0 0 -1px;}
.userPanel ul li a{ color:#fff;display:block;line-height:50px; padding: 0 20px;}

.topbar form,header form{margin:0;text-align:right}
.topbar input{margin:10px 0}
.topbar form{margin:0 20px 0 0}

.headerWrap header{ border-bottom:2px solid #888;}

.mainNav{ margin:0 0 0 0;}
.header_extrasHolder{ min-width:253px;}
.countryCurrency {overflow:hidden}
.countryCurrency form{float:right;}
.countryCurrency form select{width:100px;background:#eee;margin: 10px 0 10px 10px;display:block;float:left;font-size:12px;height:30px; padding:3px;}

.header_subNavHolder{overflow:hidden;}
.header_subNavHolder .blockWrap{ float:right}
.header_subNavHolder ul{ display:block; margin: 0 -15px 10px 0; padding:0;overflow:hidden;}
.header_subNavHolder ul li{ display:block; float:left; list-style:none; padding:0 0 0 0;margin:0 0 0 -1px;border-left:1px solid #aaa;line-height:10px}
.header_subNavHolder ul li a{text-transform:uppercase;color:#333;font-size:11px;margin:0 15px;}

.logo{margin:10px 0 0 0;}


.footerLinks{border-bottom:1px solid #ccc;padding:0 0 10px 0}
.footerLinks h4{background:#f7f7f7;  border-bottom:1px solid #dadada; padding:8px 10px}
footer h4 { font-size:14px; padding:8px 0; color:#808080; text-transform:uppercase; font-weight:700; margin-bottom:6px;}
.footerLinks ul{margin:0;padding:0}
.footerLinks li{list-style:none;background:url('images/bullet-01.png') no-repeat 0 8px}
.footerLinks li a { padding:2px 0 2px 13px; background: url("../images/footer-links.png") no-repeat 0 6px; font-size: 11px; color:#666}

.communicateTransact .blockWrap .holder{ margin:0 0 0 20px;}
.communicateTransact .first .holder{ margin:0;}
.newsletter input{margin:0;border-radius:0;}
.newsletter .txt{  box-shadow:none}
.newsletter .btn{background:#333;color:#fff;font-size:12px;text-shadow:none;text-transform:uppercase;font-weight:bold}

.socialMedia ul{margin:20px 0 0 0;padding:0;list-style:inside;list-style-type:none;overflow:hidden}
.socialMedia ul li{float:left;}
.socialMedia ul li a{display:block;width:31px;height: 31px;margin: 0 5px 0 0;background:url('images/social-media-icon.png') no-repeat;}
.socialMedia ul li a.twt{background-position:0 0}
.socialMedia ul li a.fb{background-position: 0 -37px;}
.socialMedia ul li a.rss{background-position: 0 -74px;}

.communicateTransact .blockWrap{border-left:1px solid #ccc;padding:0 0 0 0px;min-height: 110px;}
.communicateTransact .first.blockWrap{border:none; padding:0}

.copyright{color: #a9a9a9;background: #ededed; font-size:12px;padding: 10px 20px;}
.copyright a{color: #a9a9a9;}

.rating { overflow:hidden; padding: 10px 0 0 0;}
.rating .stars{ background:url(images/rating.png); float:left; width: 90px; height: 16px;}
.rating .stars span{ background: url(images/rating.png); display: block; background-position: 0 -197px; width: 69%; height: 16px;}
.rating .reviews{ float:left; text-transform: uppercase;  font-size: 11px; line-height: 16px; padding: 0 0 0 16px;}

.productDisplay .blockWrap p{font-weight: bold; text-transform: uppercase; padding: 0 0 10px 0; margin: 0;}
.productDisplay .blockWrap .price{font-weight:bold;font-size:20px;line-height:30px;color:#f50}

.ads{margin:30px 0 20px 0}
.ads img{ max-height:133px;}
.ads a{ display:block;background:#121722}

.topbarWrap{ background:#333;}

.priceBuy .addCart{
    width: 103px;
    float: left;
    margin: 0 15px 0 0;
}
.priceBuy .price{
    float: left;
    width: 100px;
}
.productDisplay{margin:10px 0 0 0}