@charset "utf-8";

/* main css */
body{text-align:center; margin:0; padding:0; font-family:Verdana, Geneva, sans-serif; font-size:12px;}
.main{width:1000px; background:#CCC; margin:0 auto; padding:0; text-align:left;}
/* end main css */



/* header css */
.header{border:1px solid #666;} 
.logo{border:1px solid #666; float:left;margin:20px 0 15px 0;padding:20px 50px 20px 50px}
.search{border:1px solid #666; float:right; margin:50px 0 15px 0; text-align:center; padding:5px 150px 5px 50px;}
/* end header css */



/* navigation css */
.navigation{border:1px solid #666; height:35px}
.section{float:left;padding:10px 10px 10px 10px;}
.section:hover{background:#F00}
.section a{text-decoration:none; color:#000}
/* end navigation css */



/* img-portfolio css */
.img-portfolio{margin:10px 0 0 0;}
.img-portfolio .left{ float:left; width:750px;border:1px solid #666; text-align:center; padding:105px 0 105px 0;}
.img-portfolio .right{ float:left;border:1px solid #666; width:245px; height:224px}
.img-portfolio .right .banner{height:20%;;border-bottom:1px solid #666; text-align:center;}
/* end img-portfolio css */



/* content css */
.content{ margin:10px 0 0 0}

.content .left{ float:left; width:750px;border:1px solid #666;}
.content .left .holder{ margin:0 10px 0 0;border-right:1px solid #666;}
.short-info .title{ display:block; background:#333; color:#CCC; padding:5px 0 5px 0; font-weight:bold}
.short-info .info{ display:block; background:#999;padding:15px 0 15px 0}
.thumbnail .title{background:#333; color:#CCC; padding:5px 0 5px 0; font-weight:bold; font-size:20px; margin:10px 0 10px 0;}
.thumbnail .image{ float:left; padding:30px 28px 30px 29px; background:#999; color:#333; margin:0 10px 10px 0;}
.thumbnail .image-final{ float:left; padding:30px 28px 30px 29px; background:#999; color:#333; margin:0 0 10px 0;}

.content .right{ float:left; width:245px;border:1px solid #666; }
.popular .title{background:#333; color:#CCC; padding:5px 0 5px 0; font-weight:bold;}
.popular .holder{ margin:0 0 10px 0;}
.popular .holder .row{margin:10px 0 0px 0;}
.popular .holder .row .image{ padding:20px; float:left; background:#999}
.popular .holder .row .pop-info{ float:left; width:155px; margin:0 0 0 10px;}
.popular .read-more{text-align:center; font-size:14px; font-weight:bold; color:#333; margin:0 0 6px 0}

/* end content css */



/* footer css */
.footer{border:1px solid #666; margin:10px  0 0 0;}
.footer .holder{ margin:10px 0 10px 0;}
.footer .left{float:left; width:205px;}
.footer .right{float:right; width:260px;}

.footer .left .name{border:1px solid #666; background:#999; padding:5px 20px 5px 145px; margin-bottom:10px}
.footer .left .email{border:1px solid #666;border:1px solid #666; background:#999; padding:5px 20px 5px 145px; margin-bottom:10px}
.footer .left .send{border:1px solid #666; float:right; padding:5px 20px 5px 20px; background:#999}

.footer .right .tu{ float:right; width:21%; background:#999; margin-left:5px;border:1px solid #666; padding:20px 0 20px 2px}
/* end footer css */